.app {
  text-align: center;
  min-height: 100vh;
  background-color: #2986c4b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
}

.app-header {
  padding-bottom: 50px;
}
